* {
    padding: 0;
    margin: 0;
}

body {
    align-items: center;
    justify-content: center;
    display: flex;
    background: rgb(45, 119, 204);
}


main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 375px;
    height: 809px;
    font-family: "Hanken Grotesk", serif;
}

.havbar {
    width: 375px;
    height: 809px;
    background-color: #ffffff;
    flex-direction: column;
    display: flex;
}

.hero {
    width: 375px;
    height: 376px;
    border-bottom-right-radius: 32px;
    border-bottom-left-radius: 32px;
    background: linear-gradient(to bottom, rgba(119, 85, 255, 1), rgba(105, 67, 255, 1), rgba(47, 44, 233, 1));
}

.title {
    display: flex;
    padding-top: 24px;
    font-weight: bold;
    font-size: 18px;
    color: rgba(202, 201, 255, 1);
    justify-content: center;
}

.summary {
    font-size: 18px;
    font-weight: bold;
    padding: 24px 0 24px 32px;
}

.reaction {
    background-color: #ffecec;
    color: #d9534f;
}

.memory {
    background-color: #fff7e6;
    color: #f0ad4e;
}

.verbal {
    background-color: #e6fff2;
    color: #5cb85c;
}

.visual {
    background-color: #f0f0ff;
    color: #5a5aa5;
}

.skill {
    margin: 16px 30px 16px 30px;
    display: flex;
    height: 56px;
    font-size: 16px;
    border-radius: 12px;
    width: 315px;
}